<div data-role="view" data-title="iTravel Putno osiguranje" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <div id="homeModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">                                                                                                      
                <li>
                    <label>Osiguranik
                        <input data-bind="value: homeModel.fields.radio" type="radio" name="group1">
                    </label>
                </li>
                                                                                                                            
                <li>
                    <label>Ugovaratelj
                        <input data-bind="value: homeModel.fields.radio1" type="radio" name="group1">
                    </label>
                </li>
               <!-- Geo. pokrice -->                                                                                                             
                <li>
                    <label>Geo. pokriće
                            <select id="slct1" name="slct1" onchange="populate1(this.id,'slct2','slct3')">
                                  <option value=""></option>
                                  <option value="Evropa">Evropa</option>
                                  <option value="Ostalo">Ostale zemlje</option>
                            </select>
                    </label>
                </li>
                <li>
                    <label>Izaberi destinaciju
                        <select id="slct2" name="slct2" onchange="populate2(this.id,'slct3')"></select>
                    </label>
                </li>
                <li>
                    <label>Osigurane sume
                            <select id="slct3" name="slct3"></select>
                    </label>
                </li>
                                                                                                                            
                                                                                                                            
                <li class="group-separator">
                    <h4 class="group-separator-header">Starosna dob osiguranika</h4>
                </li>
                <li>

                    <label>0 - 60 god.
                        <input data-bind="value: homeModel.fields.starost60" type="radio" name="groupstarost">
                    </label>

                </li>
                <li>

                    <label>61 - 70 god.
                        <input data-bind="value: homeModel.fields.starost70" type="radio" name="groupstarost">
                    </label>

                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Period putovanja</h4>
                </li>
                <li>

                    <label>Dnevna
                        <input data-bind="value: homeModel.fields.periodput" type="radio" name="groupperiod">
                    </label>

                </li>
                <li>

                    <label>Godišnje
                        <input data-bind="value: homeModel.fields.periodput1" type="radio" name="groupperiod">
                    </label>

                </li>
                <li>
                    <label>Svrha putovanja
                        <select data-bind="value: homeModel.fields.svrhaput" data-role="dropdownlist">
                            <option value="Turisticki">Turistički</option>
                            <option value="Administracija">Radno-Administracija</option>
                            <option value="poslovi">Radno-Ostali poslovi</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Broj dana trajanja
                        <select data-bind="value: homeModel.fields.brojdantrajanja" data-role="dropdownlist">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                            <option value="180">180</option>
                        </select>
                    </label>
                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Trajanje osiguranja*</h4>
                </li>
                <li>

                    <label>Početak
                        <input id="datepicker1" data-bind="value: homeModel.fields.datepocetak" type="date">
                    </label>

                </li>
                <li>

                    <label>Kraj
                        <input id="datepicker2" data-bind="value: homeModel.fields.datekraj" type="date">
                    </label>

                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Doplatak</h4>
                </li>
                <li>

                    <label>Rekreativno skijanje
                        <input data-bind="value: homeModel.fields.doplatakski" data-role="switch">
                    </label>

                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Paketi turističkog osiguranja</h4>
                </li>
                <li>

                    <label>Osiguranje od nezgode
                        <input data-bind="value: homeModel.fields.checkbox" type="checkbox">
                    </label>

                </li>
                <li>
                    <label>Smrt uslijed nezgode
                        <select id="nezg" name="nezg" onchange="populate(this.id,'nezg2')">
  								<option value=""></option>
  								<option value="5000">5000</option>
  								<option value="10000">10000</option>
								  <option value="15000">15000</option>
						</select>
                    </label>
                </li>
                <li>
                    <label>Trajna invalidnina
                        <select id="nezg2" name="nezg2"></select>
                    </label>
                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Cijena osiguranja</h4>
                    <input id="result" readonly/>
                </li>

            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: homeModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: homeModel.submit }">Confirm</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_homeModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_homeModel -->
    </div>

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_home -->
</div>