<div data-role="view" data-title="About" data-layout="main" data-model="app.aboutView" data-show="app.aboutView.onShow" data-after-show="app.aboutView.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">

            <div class="app-icon">
                <img src="resources/Capture.PNG">
            </div>


            <div class="app-details">
                <h2>iTravel</h2>
                <h4>Version 1</h4>
            </div>
        </div>

        <p>Testna aplikacija za putno osiguranje. by Amel A.</p>

        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:amel.avdic@in2.ba">Contact us</a>


        </div>
        <!-- START_CUSTOM_CODE_aboutViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_aboutViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_aboutView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_aboutView -->
</div>